@page "/"
<PageTitle>Experiment</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to my experiment.</p>

<p>This site is an ASP.Net Core application (with Blazor) hosted by
	Cloudflare Pages. In GitHub Pages Blazor has the problem that when we
	navigate to an external page we get an error when we return to the Blazor
	page. We also get an error just by refreshing any page other than the
	home page.</p>  

<p>So click <a href="About">About</a> then try refreshing that page.
	Then click on <a href="http://samhobbs.org">samhobbs.org</a> then
	try to return here.</p>
